@page "/"
@inject HttpClient Http
@using SneakPeek.Models

<PageTitle>Home</PageTitle>

<h1>Movie List</h1>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var movie in movies)
        {
         <li>
             <p><strong>@movie.title</strong>(@movie.release_date) - @movie.genre</p>
             <p>@movie.description</p>
             <p><em>Directed by: @string.Join(",", movie.director)</em></p>
             <p>Rating: @movie.rating</p>
             <p>Do you need to wait? - @movie.wait</p>
         </li>   
        }
    </ul>
}


@code {
    private List<Movie>? movies;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Http.BaseAddress = new Uri("http://localhost:5098");
            movies = await Http.GetFromJsonAsync<List<Movie>>("/movies");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching movies: {ex.Message}");
        }
    }
}